<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>slips</ion-title>
    <ion-buttons  routerLink="/sign-up"  slot="end">
      <ion-button>
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ng-container *ngFor="let slip of itemFatched ; let slipIndex = index">
 
    <div   (click)="passTO(slip)">
      <div class="slip">
        <h3>*. {{ slip.items[slipIndex].pickersDetails }}</h3>
        <p> {{ slip.loaction }}</p> 
       <p> {{ slip.date}}</p> 
       <p> item-types :{{ slip.items[slipIndex].length }}</p> 
      </div>
    </div>
  </ng-container>
</ion-content>

