ion-header {
    ion-toolbar {
      --background: #c24d2c; 
      color:#000000;
      text-align: center;
      font-size: 27px;
      font-weight: bold;
    }
  }

  ion-segment-button{
    font-size: 27px;
      font-weight: bold;
  }
 /* General Styles */
ion-content {
  --background: #f5f5f5;
}

ion-list {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
}

ion-item {
  --background: transparent;
  --inner-padding-end: 0;
  --padding-start: 0;
}

/* Slip Label */
.slip-label {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #333;
}

/* Card Styles */
ion-card {
  margin-bottom: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: #c24d2c;
  color: #fff;
  padding: 12px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

ion-card-content {
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.6;
}

.item-details {
  margin-bottom: 8px;
  color: #555;
}

/* Responsive Styles */
@media (max-width: 576px) {
  ion-card-content {
    font-size: 14px;
  }
}