<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-uppercase">User Profiles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-segment value="custom">
    <ion-segment-button value="custom">
      <ion-label>User Profiles</ion-label>
    </ion-segment-button>
    <ion-segment-button value="segment" routerLink="/analytics">
      <ion-label>Analytics</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card *ngFor="let user of users | async" class="user-card">
    <ion-card-header>
      <ion-card-subtitle>{{ user.role }}</ion-card-subtitle>
      <ion-card-title>{{ user.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Email: {{ user.email }}</p>
      <p>Status: 
        <span [ngClass]="{'active': user.status === 'active', 'denied': user.status === 'denied', 'pending': user.status === 'pending'}">
          {{ user.status }}
        </span>
      </p>
    </ion-card-content>
    <ion-row class="button-container">
      <ion-col>
        <ion-button (click)="approveUser(user)" color="success" expand="full">
          Approve
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="declineUser(user)" color="danger" expand="full">
          Decline
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card>
</ion-content>
