.user-card {
  margin-bottom: 20px;
}

.user-card .button-container {
  margin-top: 10px;
}

.active {
  color: green; /* Customize color for active status */
}

.denied {
  color: red; /* Customize color for denied status */
}

.pending {
  color: orange; /* Customize color for pending status */
}
