<ion-header [translucent]="true">
  <ion-toolbar color="primary" >
    <ion-title>add-inventory-storeroom</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeScanner()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-icon style="font-size: 30px; font-weight: bolder;"  routerLink="/storeroom-deshboard" slot="start" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      Add Inventory Item
    </ion-card-header>
    <ion-card-content>

    
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label class="custom-label">Type Barcode</ion-label>
              <ion-toggle slot="end" [(ngModel)]="toggleChecked"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating" class="custom-label">Barcode</ion-label>
              <ion-input [(ngModel)]="barcode" type="text" *ngIf="toggleChecked" class="custom-input"></ion-input>
              <ion-button size="defualt"  expand="block" color="secondary" (click)="scanBarcode()" *ngIf="!toggleChecked" class="custom-scan-button">
                <ion-icon name="scan-outline"></ion-icon>
                Scan
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>

      <ion-item>
        <ion-label position="floating">Item Name</ion-label>
        <ion-input type="text" [(ngModel)]="itemName"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select [(ngModel)]="itemCategory">
          <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
          <ion-select-option value="Plastics">Plastics</ion-select-option>
          <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option> 
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="itemDescription"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="number" [(ngModel)]="itemQuantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Picker Name</ion-label>
        <ion-input type="text" [(ngModel)]="pickersDetails"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Picker Email</ion-label>
        <ion-input type="text" [(ngModel)]="pickersDetailsEmail"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Picker Phone</ion-label>
        <ion-input type="text" [(ngModel)]="pickersDetailsPhone"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Date</ion-label>
        <ion-input type="date" [(ngModel)]="dateOfPickup"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Time </ion-label>
        <ion-input type="time" [(ngModel)]="timeOfPickup"></ion-input>
      </ion-item>
   
      <ion-button  expand="block" id="fileInput" color="medium" class="custom-file-input" (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
        Take Picture
      </ion-button>
      <ion-button expand="block" class="one" (click)="addItem()">Add Item</ion-button>
      <ion-button expand="block" (click)="generateSlip()">DONE</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
