<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-menu-button menu="main-menu" slot="end"></ion-menu-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-card routerLink="/storeroom-deshboard" class="card">
        <h2>Storeroom</h2>
        <p>Explore your collection</p>
    </ion-card >
    <ion-card  routerLink="/home" class="card">
        <h2>Shop</h2>
        <p>Discover new stock</p>
    </ion-card >
    <ion-card  (click)=" navigateToAddUsers()" class="card">
      <h2>Add Users</h2>
      <p>Register new users</p>
  </ion-card >
</div>

</ion-content>
