.custom-header {
  --background: #2c3e50; /* Header background color */
  --color: #ffffff; /* Header text color */
}

.header-title {
  font-size: 20px;
}

.custom-content {
  --ion-background-color: #ecf0f1; /* Content background color */
}

.search-bar {
  --background: #ffffff; /* Search bar background color */
}

.filter-item {
  --placeholder-color: #34495e; /* Placeholder text color */
}

.filter-label {
  color: #34495e; /* Label text color */
}

.filter-select {
  color: #34495e; /* Select text color */
}

.custom-segment {
  --ion-color-primary: #3498db; /* Segment color */
  --ion-color-primary-contrast: #ffffff; /* Segment text color */
}

.segment-button {
  color: #ffffff; /* Segment button text color */
}

.inventory-item {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: inline-block;
}

.thumbnail {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.action-button {
  margin-top: 10px;
}

ion-modal {
  --background: rgba(0, 0, 0, 0.8); /* Modal background color */
}
.animated-header{

}



.inventory-item {
  display: flex;
  align-items: center;
}

.content {
  flex: 1;
}

.header {
  margin-right: 16px; /* Adjust the margin between the header and content */
}
#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {
  padding: 2px 16px;
}

/* Add Animation */
.modal-content {
  animation: modalopen 0.4s;
}

@keyframes modalopen {
  from { opacity: 0; }
  to { opacity: 1; }
}
