<ion-header>
  <ion-toolbar>
    <ion-title>Update Inventory</ion-title>
    <ion-icon style="font-size: 30px; font-weight: bolder;"  routerLink="/view" slot="end" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-item>
      <ion-toggle labelPlacement="end" [(ngModel)]="toggleChecked">Type barcode</ion-toggle>
    </ion-item>


    <ion-item>
      <ion-label position="floating">Barcode</ion-label>
      <ion-input type="text" [(ngModel)]="barcode" *ngIf="toggleChecked"></ion-input>
      <ion-button  expand="block" (click)="scanBarcode()" *ngIf="!toggleChecked">
        <ion-icon name="barcode-outline"></ion-icon> Scan
      </ion-button>
    </ion-item>


    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Item Name</ion-label>
          <ion-input [(ngModel)]="itemName" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Category</ion-label>
          <ion-input [(ngModel)]="itemCategory" type="text"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-textarea [(ngModel)]="itemDescription"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="floating">Quantity</ion-label>
          <ion-input [(ngModel)]="itemQuantity" type="number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <ion-item>
          <img class="thumbnail" src="{{newImage}}" alt="{{  itemName }} ">
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-button  expand="block" id="fileInput" color="medium" class="custom-file-input" (click)="takePicture()">
      <ion-icon name="camera"></ion-icon>
      Take Picture
    </ion-button >


    <ion-row>
      <ion-col size="12">
        <ion-button expand="block" (click)="updateItem()">Update</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
