<ion-header [translucent]="true" class="custom-header">
  <ion-toolbar color="success">
    <ion-title class="header-title">Inventory</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back-outline" class="header-icon"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="custom-content">
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search by name" class="search-bar"></ion-searchbar>

  <ion-item lines="none" class="filter-item">
    <ion-label class="filter-label">Filter by Category</ion-label>
    <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterInventory()" interface="popover" class="filter-select">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
      <ion-select-option value="Plastics">Plastics</ion-select-option>
      <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item lines="none" class="filter-item">
    <ion-label class="filter-label">Filter by Quantity</ion-label>
    <ion-select [(ngModel)]="selectedQuantityRange" (ionChange)="filterInventory()" interface="popover" class="filter-select">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="tooLow">Too Low</ion-select-option>
      <ion-select-option value="runningLow">Running Low</ion-select-option>
      <ion-select-option value="middle">Middle</ion-select-option>
      <ion-select-option value="full">Full</ion-select-option>
    </ion-select>
  </ion-item>

  <br>
<!-- 
  <ion-segment [(ngModel)]="segment" class="custom-segment" color="primary">
    <ion-segment-button value="menu" routerLink="/home" class="segment-button">
      <ion-label>Menu</ion-label>
    </ion-segment-button>
    <ion-segment-button value="store" class="segment-button">
      <ion-label>Store</ion-label>
    </ion-segment-button>
    <ion-segment-button value="storeroom" routerLink="/storeroom" class="segment-button">
      <ion-label>StoreRoom</ion-label>
    </ion-segment-button>
  </ion-segment> -->

  <ion-card class="inventory-item" *ngFor="let item of filteredInventory">
    <ion-item-sliding>
      <ion-item lines="none">
        <ion-card-content class="content">
          <div class="header">
            <ion-card-header class="animated-header">
              <ion-card-title>
                <ion-menu-button menu="main-menu" slot="end"></ion-menu-button>
                <ion-icon name="basket-outline"></ion-icon>
                {{ item.name }}
              </ion-card-title>
            </ion-card-header>
          </div>
          <ion-list lines="none">
            <ion-item>
              <ion-label>
                <ion-icon name="pricetags-outline"></ion-icon>
                Category: {{ item.category }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="document-text-outline"></ion-icon>
                Description: {{ item.description }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="cube-outline"></ion-icon>
                Quantity: {{ item.quantity }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="barcode-outline"></ion-icon>
                Barcode: {{ item.barcode }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="person-outline"></ion-icon>
                Picker's Details: {{ item.pickersDetails }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="calendar-outline"></ion-icon>
                Date Of Pickup: {{ item.dateOfPickup }}
              </ion-label>
            </ion-item>
            <ion-item>
              <ion-label>
                <ion-icon name="time-outline"></ion-icon>
                Time Of Pickup: {{ item.timeOfPickup }}
              </ion-label>
            </ion-item>
          </ion-list>
          <img class="thumbnail" [src]="item.imageUrl" alt="{{ item.name }} Image" (click)="openModal(item.imageUrl, item.name)">
        </ion-card-content>
      </ion-item>
  
      <ion-item-options  side="end">
        <ion-item-option (click)="goToUpdate(item.name,item.category,item.description,item.quantity,item.barcode,item.pickersDetails,item.dateOfPickup,item.timeOfPickup ,item.imageUrl )" color="success" >
          <ion-icon name="create-outline"></ion-icon>
          Update
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
  

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ modalTitle }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <div class="" id="container">
        <img [src]="selectedImageUrl" alt="Full Image">
      </div>
      </ion-content>
    </ng-template>
  </ion-modal>
  
</ion-content>
