ion-content {
    --ion-background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center vertically */
    align-items: center;
    height: 100%;
    flex-grow: 1;
    position: relative; /* Add this line */
  }
  
  .profile-card {
    --background: #c24d2c;
    --color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    animation: slideIn 0.5s ease-in-out;
    max-width: 400px;
    width: 100%;
    /* Center the card horizontally and vertically */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  
  .header-icon {
    font-size: 24px;
    margin-right: 8px;
  }
  
  ion-card-title {
    font-size: 20px;
    font-weight: bold;
  }
  
  .profile-item {
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  
    .item-icon {
      font-size: 18px;
      margin-right: 8px;
    }
  
    p {
      margin: 0;
      font-size: 16px;
    }
  
    .professional-status {
      font-weight: bold;
    }
  }
  
  .loading-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
  }
  
  @keyframes slideIn {
    0% {
      transform: translateY(-50%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  ion-header {
    ion-toolbar {
      --background: #c24d2c; /* Header background color */
      color:#fff;
    }
  }
  