.profile-content {
  --background: linear-gradient(180deg, rgb(215, 220, 224) 0%, rgba(255, 255, 255, 1) 100%);
}

.profile-card {
  margin: 20px;
  border-radius: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-header {
  background-color: #007bff; /* Primary color */
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: #fff; /* White text */
}

.header-icon {
  font-size: 5rem;
}

.profile-details {
  padding: 20px;
}

.item-icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

.item-text {
  margin: 0;
  font-weight: bold;
}

.professional-status {
  font-weight: bold;
}

.note-text {
  color: #6c757d; /* Text color for notes */
}

.loading-spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}
