<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-title >Add Inventory Store</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeScanner()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-icon style="font-size: 30px; font-weight: bolder;"  routerLink="/home" slot="start" name="arrow-back-outline"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  class="custom-background">
  <ion-card id="container">
    <ion-card-header color="success">
      Add Inventory Item
    </ion-card-header>
    <ion-card-content>
      <!-- <ion-item>
        <ion-label position="floating">Barcode (Optional)</ion-label>
        <ion-input type="text" [(ngModel)]="barcode"></ion-input>
      </ion-item> -->
      
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label class="custom-label">Type Barcode</ion-label>
             
              <ion-toggle slot="end" [(ngModel)]="toggleChecked"></ion-toggle>
            </ion-item>
          </ion-col>
        </ion-row>
    
        <ion-row>
          <ion-col size="12">
            <ion-item>
              <ion-label position="floating" class="custom-label">Barcode</ion-label>
              <ion-input [(ngModel)]="barcode" type="text" (ionChange)="searchProductByBarcode()" *ngIf="toggleChecked" class="custom-input"></ion-input>
              <ion-button size="defualt"  expand="block" color="secondary" (click)="scanBarcode()" *ngIf="!toggleChecked" class="custom-scan-button">
                <ion-icon name="scan-outline"></ion-icon>
                Scan
              </ion-button>
            </ion-item>
          </ion-col>
        </ion-row>

      <ion-item>
        <ion-label position="floating">Item Name</ion-label>
        <ion-input type="text" [(ngModel)]="itemName"></ion-input>
      </ion-item>
    
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select [(ngModel)]="itemCategory" slot="end">
          <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
          <ion-select-option value="Plastics">Plastics</ion-select-option>
          <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option> 
        </ion-select>
      </ion-item>



      <ion-item>
        <ion-label position="floating">Description</ion-label>
        <ion-textarea [(ngModel)]="itemDescription"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quantity</ion-label>
        <ion-input type="number" [(ngModel)]="itemQuantity"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Picker Email</ion-label>
        <ion-input type="text" [(ngModel)]="pickersDetails"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="fixed">Date of Pickup</ion-label>
        <ion-input type="date" [(ngModel)]="dateOfPickup"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Time of Pickup</ion-label>
        <ion-input type="time" [(ngModel)]="timeOfPickup"></ion-input>
      </ion-item>
      <img *ngIf="imageBase64 || imageUrl" [src]="imageBase64 ? 'data:image/jpeg;base64,' + imageBase64 : imageUrl" alt="Image" style="max-width: 100%; height: auto; margin-top: 10px;">
      <ion-button color="primary"  expand="block" id="fileInput"  class="custom-file-input" (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
        Take Picture
      </ion-button >



      <ion-button color="primary" expand="block" (click)="addItem()">Add Item</ion-button><br>
      <ion-button expand="block"  color="success" (click)="generateSlip()">DONE</ion-button>
    </ion-card-content>
  </ion-card>



</ion-content>
