<ion-header>
  <ion-toolbar color="success">
    <ion-icon style="font-size: 30px; font-weight: bolder;"  slot="start" routerLink="/choose"  name="arrow-back-outline"></ion-icon>
    <ion-title>Best Brightness Dashboard</ion-title>
    <ion-menu-button color="light" menu="main-menu" slot="end"></ion-menu-button>
    <ion-buttons slot="end">

    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >


  <ion-card (click)="navigateToAddInventory()">
    <ion-card-header>
      <ion-card-title  >Add Inventory</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Click here to add new inventory items to the storeroom.
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/view">
    <ion-card-header>
      <ion-card-title  >View Inventory</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Click here to view the existing inventory items in the storeroom.
    </ion-card-content>
  </ion-card>

  <ion-card routerLink="/analytic-shop">
    <ion-card-header>
      <ion-card-title>Analytics</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Click here to view analytics and insights for the storeroom inventory.
    </ion-card-content>
  </ion-card>

  <ion-card >
    <ion-card-header>
      <ion-card-title>Another Option</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Click here for another option in the storeroom dashboard.
    </ion-card-content>
  </ion-card>
</ion-content>





