.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Adjust column width */
  grid-gap: 10px;
  justify-content: center;
}

.menu-card {
  border-radius: 8px; /* Slightly reduce border radius */
}

.menu-card ion-card-header {
  border-radius: 10px;
	overflow: hidden;
	position: relative;
	transition: transform 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .menu-card ion-card-header {
    font-size: 0.6rem; /* Further decrease font size for smaller screens */
  }
}

.advertisement-tags {
  display: none; /* Hide advertisement tags on small screens */
}

/* Media query for smaller screens */
@media screen and (max-width: 576px) {
  .grid-container {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); /* Further adjust column width */
  }
  
  .menu-card ion-card-header {
    font-size: 0.5rem; /* Further decrease font size for smaller screens */
  }
}


.menu-card ion-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.menu-card ion-card-header {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: white;
	font-size: 0.8rem;
	background-color: rgba(0, 0, 0, 0.5);
	padding: 5px 10px;
	border-radius: 5px;
}

.menu-card:hover {
	transform: scale(1.05);
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
}


  
  /* Dark mode */
  .dark-mode .advertisement-tag {
	color: black; 
  }
  
  .advertisement-tag ion-icon {
	font-size: 1.5rem;
	margin-right: 5px;
  }
  
  .advertisement-tag:hover {
	transform: scale(1.1);
  }
  
  .business-for-hire {
	border: 2px solid #6126ce;
  }
  
  .freelancers {
	border: 2px solid #6126ce;
  }
   

  ion-header {
    ion-toolbar {
      --background: #c24d2c; 
      color:#fff;
      text-align: center;
    }
  }
  ion-segment {
    --background: #c24d2c;
    font-weight: bold;
  }
  ion-segment {
    --background: #c24d2c;
    font-weight: bold;
  }
  ion-icon{
    font-size: 25px;
    font-weight: bolder;
    color: #fff;
  }